@use "../abstracts/variables" as *; // pull tokens into local scope

.section{
    position:relative;
    padding:72px 0;
    background:linear-gradient(180deg, $grey-light-1 0%, $white 60%);
    overflow:hidden
}

.section:nth-of-type(even){
    background:linear-gradient(180deg, $grey-light-2 0%, $white 60%);
}

.section-title{
    font-size:clamp(1.6rem,2.6vw,2rem);
    margin:0 0 .5rem
}

.section-sub{
    color:$grey-dark-1;
    margin:0 0 1.25rem
}